In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1 + 1

2

In [4]:
1 * 3

3

In [5]:
1 / 2

0.5

In [6]:
2 ** 4

16

In [8]:
2 + 3 * 5 + 5

22

In [9]:
(2+3)*(5+5)

50

In [10]:
5 % 2

1

In [11]:
8 % 2

0

In [12]:
var = 2

In [13]:
var

2

In [14]:
x = 2
y = 3

In [15]:
x+y

5

In [16]:
x = x + x

In [17]:
x

4

In [18]:
12var = 12

SyntaxError: invalid syntax (<ipython-input-18-72e2c0241394>, line 1)

In [19]:
@var

SyntaxError: unexpected EOF while parsing (<ipython-input-19-b20cc5260247>, line 1)

In [20]:
$var = 10

SyntaxError: invalid syntax (<ipython-input-20-ac3248c54da9>, line 1)

In [21]:
name_of_var = 12

In [22]:
name_of_var

12

In [23]:
# strings

In [24]:
' Single quote'

' Single quote'

In [25]:
"this is a string"

'this is a string'

In [26]:
"I can't go"

"I can't go"

In [27]:
'Hero is "here"'

'Hero is "here"'

In [28]:
x = "hello"

In [29]:
x

'hello'

In [30]:
print(x)

hello

In [31]:
num = 12
name ='Sathish'

In [33]:
'My number is {} and my name is {}'.format(num,name)

'My number is 12 and my name is Sathish'

In [35]:
'My number is {one} and my name is {two}, more {one}'.format(one = num,two = name)

'My number is 12 and my name is Sathish, more 12'

In [36]:
s = 'hello'

In [37]:
s[0]

'h'

In [38]:
s[-1]

'o'

In [39]:
s[0:2]

'he'

In [40]:
s[0:]

'hello'

In [41]:
s[:4]

'hell'

In [42]:
s[2:5]

'llo'

In [43]:
[1,2,3]

[1, 2, 3]

In [44]:
['a','b','c']

['a', 'b', 'c']

In [45]:
my_list = ['a','b','c']

In [46]:
my_list.append('d')

In [47]:
my_list

['a', 'b', 'c', 'd']

In [48]:
my_list[0]

'a'

In [49]:
nest = [1,2,3,[4,5,['target']]]

In [51]:
print(nest[3][2][0])

target

In [52]:
d = {'key1':'value','key2':123}

In [53]:
d['key1']

'value'

In [54]:
d[0]

KeyError: 0

In [55]:
d.keys()

dict_keys(['key1', 'key2'])

In [56]:
d.values()

dict_values(['value', 123])

In [57]:
d.key1

AttributeError: 'dict' object has no attribute 'key1'

In [58]:
d = {'k1':{'innerkey':[1,2,3]}}

In [59]:
d['k1']['innerkey'][1]

2

In [60]:
True

True

In [61]:
False

False

In [62]:
my_list=[1,2,3]

In [63]:
my_tuple = (1,2,3)

In [64]:
my_list[2]=5

In [65]:
my_list

[1, 2, 5]

In [67]:
my_tuple[2]

3

In [68]:
my_tuple[1]= 4

TypeError: 'tuple' object does not support item assignment

In [69]:
{1,2,3}

{1, 2, 3}

In [70]:
{1,1,1,3,4,4,5,5,5}

{1, 3, 4, 5}

In [71]:
set([1,1,3,3,4,5,5,5,5])

{1, 3, 4, 5}

In [72]:
s = {1,2,3,4}

In [73]:
s.add(5)

In [74]:
s

{1, 2, 3, 4, 5}

In [75]:
s.add(3)

In [76]:
s

{1, 2, 3, 4, 5}

In [77]:
1 > 2

False

In [78]:
1 < 2

True

In [79]:
1 >= 2

False

In [80]:
1 <= 1

True

In [81]:
1 == 1

True

In [82]:
1 == 2

False

In [83]:
1 != 2

True

In [85]:
1 < 2 and 2 > 1

True

In [86]:
1 < 2 and 2 > 3

False

In [87]:
1 < 2 or 2 > 3

True

In [88]:
1 < 2 or 2 > 3

True

In [89]:
1 > 2 and 2 > 3

False

In [90]:
True and False

False

In [91]:
if 1 < 2:
    print('yep')

yep

In [93]:
if True:
    print('perform',1+1)

perform 2

In [94]:
if 1 == 2:
    print('1st')
else:
    print('last')

last

In [95]:
if 1 == 2:
    print('1st')
elif 3 == 3:
    print('middle')
else:
    print('last')

middle

In [96]:
seq = [1,2,3,4,5]

In [97]:
for i in seq:
    print(i)

1
2
3
4
5

In [101]:
i=1
while i < 5:
    print('i is: {}'.format(i))
    i+=1

i is: 1
i is: 2
i is: 3
i is: 4

In [102]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [104]:
for x in range(0,len(seq),2):
    print(x)

0
2
4

In [105]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [106]:
x = [1,2,3,4]

In [107]:
out=[]

In [108]:
for item in x:
    out.append(item ** 2)

In [109]:
out

[1, 4, 9, 16]

In [117]:
out =[num ** 2 for num in x]

In [118]:
out

[1, 4, 9, 16]

In [119]:
def my_func(param1):
    print(param1)

In [120]:
my_func('hello')

hello

In [121]:
def my_func(name='Default Name'):
    print('hello',name)

In [122]:
my_func()

hello Default Name

In [123]:
my_func('Sathish')

hello Sathish

In [127]:
def square(num):
    # documentation string
    '''
    This is Docstring
    can go multiple lines.
    This function squares a number'''
    return num ** 2

In [128]:
out = square(2)

In [129]:
out

4

In [130]:
def times2(var):
    return var * 2

In [131]:
times2(5)

10

In [132]:
#map()

In [133]:
seq = [1,2,3,4,5]

In [136]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [137]:
t = lambda var: var * 2

In [138]:
t(6)

12

In [139]:
list(map(lambda x: x*3,seq))

[3, 6, 9, 12, 15]

In [141]:
list(filter(lambda num: num%2 == 0,seq))

[2, 4]

In [142]:
s = 'Hello my name is Sam'

In [143]:
s.lower()

'hello my name is sam'

In [144]:
s.upper()

'HELLO MY NAME IS SAM'

In [145]:
s.split()

['Hello', 'my', 'name', 'is', 'Sam']

In [146]:
my_list

[1, 2, 5]

In [147]:
1 in my_list

True

In [148]:
'x' in my_list

False

In [149]:
x = [(1,2),(3,4),(5,6)]

In [150]:
#tuple unpacking

In [151]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [152]:
for a,b in x:
    print(a)

1
3
5